.smiling-wishlist {
    overflow: auto;
    margin-inline: 20%;
    background-color: white;
}

.SmiWishListTitle {
    color: #7d7f85;
    font-family: 'FreightDispProBook-Regular,Times New Roman,serif';
    font-size: 35px;
    padding-top: 30px;
    text-align: start;
    width: 100%;
}

.smilingListTopButton {
    text-align: center;
    margin-top: 10px;
}

.smiTopShareBtn {
    height: 60px;
    width: 150px;
    color: white;
    background-color: #7d7f85;
    border: none;
    font-size: 13px;
    font-weight: 500;
    margin: 10px;
    transition: all 0.4s ease;
}

.smiTopShareBtn:hover {
    background-color: white;
    color: #7d7f85;
    border: 1px solid #7d7f85;
}

.smiTopClearBtn:hover {
    background-color: rgba(66, 66, 66, 0.05);
}

.smiTopAddAllBtn {
    height: 60px;
    width: 150px;
    color: #7d7f85 !important;
    background-color: white;
    border: 1px solid #7d7f85 !important;
    font-size: 13px;
    font-weight: 500;
    margin: 10px !important;
    justify-content: center;
}

.smiTopAddAllBtn:hover {
    color: white;
    background-color: #7d7f85;
}

.smiWishLsitBoxMain {
    display: flex;
    margin-inline: 5%;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.smiWishLsitBox {
    border: 1px solid #ccc;
    width: 24.2%;
    position: relative;
    margin: 5px;
}

.smiWishLsitBoxImge {
    width: 100%;
    /* margin-top: 30px; */
    height: 350px;
}

.smiWishLsitBoxDesc1 {
    font-size: 13px;
    margin: 0px;
    font-weight: 500;
    color: #212529;
    text-align: center;
    font-family: 'PT Sans', sans-serif;

}

.smiWishLsitBoxDesc2 {
    font-size: 11px;
    font-weight: 400;
    color: #212529;
    text-align: center;
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
}

.smiWishLsitBoxTitltLine {
    text-align: center;
    color: #212529;
    font-size: 14px;
    margin: 0px;
    opacity: 0.7;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;

}

.smiWishLsitBoxTitltLine {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.smiWishLsitBoxDesc3 {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
    height: 30px;
    width: 60%;
    font-family: 'PT Sans', sans-serif;
}

.smiWishLsitBoxDesc4 {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border: 1px solid;
    height: 30px;
    width: 60%;
    font-family: 'PT Sans', sans-serif;
}

.smiWishLsitBoxDescPrice {
    font-size: 13px;
    font-weight: 500;
    color: #212529;
    margin: 0px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.myWishlistMainContainer {
    width: 100%;
    margin: 50px 0px 20px 0px;
}

.mywislistComponents {
    /* width: 100%; */
    margin-inline: 20%;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
}

.mywislistComponentsNoData {
    height: 150px;
    margin-inline: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-borderless th,
.table-borderless td {
    border: none !important;
}

.table-borderless img {
    max-width: 100%;
    height: auto;
}

.mywishlistMainBoxcontainer {
    width: 100%;
    height: 300px;
    min-height: 300px;
    max-height: fit-content;
}

.table-custom {
    color: #7d7f85;
}

.table-customThead tr th {
    color: #7d7f85;
    font-weight: 400px;
}

.table-custom tbody td {
    color: #7d7f85;
}

.product-title {
    width: 380px;
    max-width: 380px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1441px) {


    .smiWishLsitBoxDesc3 {
        margin-inline: 5px;
    }

    .smiWishLsitBoxDesc4 {
        margin-inline: 5px;
    }

    .smiWishLsitBoxMain {
        margin-inline: 1% !important;
    }
}

@media screen and (max-width: 1300px) {
    .smiWishLsitBox {
        width: 32% !important;
    }
}

@media screen and (max-width: 1200px) {
    .mywislistComponents {
        margin-inline: 10%;
    }

    .product-title {
        width: 300px;
        max-width: 300px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 1000px) {

    .smiWishLsitBox {
        width: 33.33%;
    }

    .smiWishLsitBoxDesc1 {
        margin: 0;
    }

    .mobileFootreCs {
        top: 50% !important;
    }

    .mywislistComponents {
        margin-inline: 6%;
    }

    .product-title {
        width: 250px;
        max-width: 250px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 800px) {

    .smiWishLsitBox {
        width: 48% !important;
    }

    .SmiWishListTitle {
        width: auto !important;
    }

    .smiWishLsitBoxImge {
        height: 300px !important;
        object-fit: contain;
    }

    .mobilkeAddToCartBtn {
        margin-block: 10px !important;
    }

    .mywislistComponents {
        margin-inline: 4%;
    }

    .product-title {
        width: 220px;
        max-width: 220px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 768px) {
    .table-customThead{
        display: none;
    }
.table-custom{
    border: 1px solid #ededed;
}
}

@media screen and (max-width: 600px) {
    .smilingListTopButton {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .smiTopShareBtn {
        width: 100%;
        margin: 0px;
    }

    .smiTopAddAllBtn {
        width: 100%;
        margin: 0px;
        margin-top: 15px;
    }

    .smiWishLsitBoxImge {
        height: 210px !important;
        object-fit: contain;
    }

    .smiWishLsitBox {
        width: 47% !important;
    }

    .mobilkeAddToCartBtn {
        margin-block: 5px !important;
    }

    .SmiWishListTitle {
        padding-top: 0px !important;
        margin: 5px;
        font-size: 25px;
        margin-left: 30px;
    }

    .mywislistComponents {
        width: 100%;
        margin-inline: 5px;
    }

  

}

@media screen and (max-width: 450px) {
    .smiWishLsitBoxMain {
        display: flex !important;
        flex-wrap: nowrap !important;
        flex-direction: column !important;
        margin-inline: 0% !important;
        padding: 5px;
    }


    .smiWishLsitBox {
        width: 100% !important;
        margin: 5px 0px !important;
    }

}