.titleNewArrival {
    color: #A8807C;
    font-family: "Rosarivo", Sans-serif;
    text-decoration: uppercase!important;
}

.newArrivalPdTitle {
    color: #A8807C;
}


@media screen and (max-width: 768px) {
    .NewArrMainDiv {
        margin: 20px 0px 20px 0px !important;
    }

    .NewArrMainDiv {
        padding: 0px 0px 20px 20px !important;
    }

    .NewArrivalProductMain {
        padding: 0px !important;
    }
}